<!--<form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm"> -->
<form (ngSubmit)="onSubmit()" #myForm="ngForm">
    <div class="form-group col-md-6">
        <label for="exampleInputEmail1">UserName</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username" ngModel>
    </div>
    <div class="form-group col-md-6">
        <label for="exampleInputPassword1">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" ngModel>
    </div>
    <div class="form-group col-md-6">
        <label for="course">Select Course</label>
        <select class="form-control" id="course" name="course" ngModel>
            <option value="Angular">Angular</option>
            <option value="HTML">HTML</option>
            <option value="Java">Java</option>
            <option value="jQuery">jQuery</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>