<div class="container">
    <div class="row">
        <div class="col-md-6">
            <app-card>
                <h5 class="card-title">Laptop</h5>
                <a routerLink="laptop" class="btn btn-success">Go somewhere</a>
            </app-card>
        </div>
        <div class="col-md-6">
            <app-card>
                <h5 class="card-title">Mobile</h5>
                <a routerLink="laptop" class="btn btn-success">Go somewhere</a>
            </app-card>
        </div>
        <div class="col-md-6">
            <app-card>
                <h5 class="card-title">Camera</h5>
                <a routerLink="laptop" class="btn btn-success">Go somewhere</a>
            </app-card>
        </div>
        <div class="col-md-6">
            <app-card>
                <h5 class="card-title">Charger</h5>
                <a routerLink="laptop" class="btn btn-success">Go somewhere</a>
            </app-card>
        </div>
    </div>
</div>