<div class="container">
    <div #box>
        <h2>Login UserName : &nbsp;<strong>{{userName}}</strong></h2>
    </div>
    <button (click)="changeChildProperty()">Change Child Property</button>
    <button (click)="callChildMethod()">Call Child Method</button>
   <!-- <input type="text" placeholder="Input here.." name="" id="" #val>
    <button (click)="submitValue(val)">Submit Value</button>
    <app-login-comp [inputValue]="value"></app-login-comp>-->
    <div class="col-md-12">
        <app-login-comp>
            <p #childCont>This is child content</p>
        </app-login-comp>
    </div>
    <div class="col-md-8">
        <input type="text" placeholder="Add user" #add>
        <button class="btn btn-success" (click)="addUser(add)">Add User</button>
    </div>
    <div class="col-md-8">
        <input type="text" placeholder="Search" [(ngModel)]="searchInput">
    </div>
    <div class="col-md-8">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">S.No</th>
                <th scope="col">Name</th>
                <th scope="col">UserName</th>
                <th scope="col">email</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of usersArr | filterPipes:searchInput">
                <th>{{user.id}}</th>
                <td>{{user.name}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
              </tr>
            </tbody>
          </table>
    </div>

</div>



