<form [formGroup]="myReactiveForm" (ngSubmit)="onSubmit()">
    <div formGroupName="userDetails">
        <div class="form-group col-md-6">
            <label for="exampleInputEmail1">UserName*</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username"
                formControlName="username">
        </div>
        <div class="form-group col-md-6">
            <label for="exampleInputPassword1">Email*</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email"
                formControlName="email">
            <small class="text-danger"
                *ngIf="!myReactiveForm.get('userDetails.email').valid && myReactiveForm.get('userDetails.email').touched">
                Please enter valid email.</small>
        </div>
    </div>
    <div class="form-group col-md-6">
        <label for="course">Select Course</label>
        <select class="form-control" id="course" name="course" formControlName="course">
            <option value="Angular">Angular</option>
            <option value="HTML">HTML</option>
            <option value="Java">Java</option>
            <option value="jQuery">jQuery</option>
        </select>
    </div>
    <div class="form-group">
        <div class="custom-control custom-radio" *ngFor="let gender of genders">
            <input type="radio" id="{{gender.id}}" name="gender" value="{{gender.value}}" class="custom-control-input"
                formControlName="gender">
            <label class="custom-control-label" for="customRadio1">{{gender.value}}</label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<!-- <div class="col-md-6" *ngIf="submitted"> 
        <p>UserName: &nbsp;<strong>{{formData.username}}</strong></p>
        <p>Email: &nbsp;<strong>{{formData.email}}</strong></p>
        <p>Course: &nbsp;<strong>{{formData.course}}</strong></p>
        <p>Gender: &nbsp;<strong>{{formData.gender}}</strong></p>
    </div> -->