<p>home works!</p>

<div class="container">
    <div class="row">
        <ng-container *ngIf="statusOnline">
            <div class="col-md-8" *ngFor="let productItem of products">
                {{productItem.name}}
            </div>
        </ng-container>
    </div>
</div>

<br><br>



<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            UserName: &nbsp;<strong class="text-success">{{userName}}</strong>&nbsp; printed.
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 border">
            <app-comp1></app-comp1>
        </div>
        <div class="col-md-6 border">
            <app-comp2></app-comp2>
        </div>
        <div class="col-md-6 border">
            <app-comp3></app-comp3>
        </div>
        <div class="col-md-6 border">
            <app-comp4></app-comp4>
        </div>
    </div>
</div>